@import url('https://fonts.googleapis.com/css2?family=Inter&family=JetBrains+Mono&display=swap');

/*--- CSS reset ---*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    /* outline: 1px red solid; */
}

html {
    --black1: #242424;
    --black2: #000;
    --black3: #1d1d1d;
    --white1: #fbfbfb;
    --white2: #fff;
    --purple1: #6864fe;
    --purple2: #4d46b2;
}

/*--- main styling ---*/
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--black1);

    display: grid;
    grid-template-areas:
        'a b'
        'a c';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
}

body > nav {
    display: grid;
    grid-area: b;
    background-color: var(--white1);

    margin: 1.5% 2% 0% 0;
    grid-template-areas: 'a b c d e f';
    grid-template-columns: 0.5fr 2fr 4fr 0.5fr 0.5fr 0.5fr;
    grid-row: 1fr;
    gap: 1%;
    align-items: center;
}

body > aside {
    grid-area: a;

    display: grid;
    grid-template-areas:
        'a'
        'b'
        'c';
    grid-template-rows: 1fr 5fr 1.5fr;
    color: var(--white1);
    font-family: 'Inter', Helvetica, sans-serif, Arial;
    max-height: 100%;
}

body > main {
    grid-area: c;
    background-color: var(--white1);
    margin: 2% 2% -2% 0;

    display: grid;
    grid-template-columns: 5fr 1.5fr;
}

.icons {
    height: auto;
    width: 25px;
}

/*--- aside styling ---*/

.dashboard-icon-cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 20%;
    gap: 1%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5rem;
    font-weight: bold;
}

.dashboard-icon-cont > img {
    filter: invert(38%) sepia(21%) saturate(4155%) hue-rotate(220deg)
        brightness(102%) contrast(99%);
    transition: 0.5s ease-in-out;
    width: 80%;
    height: auto;
    justify-self: end;
}

.dashboard-icon-cont > span:hover {
    color: var(--purple1);
    transition: 0.5s;
}

.dashboard-icon-cont > img:hover {
    filter: invert(98%) sepia(81%) saturate(39%) hue-rotate(194deg)
        brightness(111%) contrast(97%);
}

.menu-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
    /*  margin-bottom: 12%; */
    position: relative;
}

.menu-row > img {
    filter: invert(98%) sepia(81%) saturate(39%) hue-rotate(194deg)
        brightness(111%) contrast(97%);
    justify-self: end;
}

.menu-row:hover {
    background: var(--black3);
    color: var(--purple1);
    transition: 0.15s;
}

.menu-row:hover > img {
    filter: invert(38%) sepia(21%) saturate(4155%) hue-rotate(220deg)
        brightness(102%) contrast(99%);
    transition: 0.15s;
}

.menu-row > div:nth-child(1) {
    background: var(--purple1);
    width: 3%;
    height: 100%;
    position: absolute;
    display: none;
    transition: 0.1s;
}

.menu-row:hover > div:nth-child(1) {
    display: block;
}

/*--- nav styling ---*/

nav > img:first-child {
    grid-area: a;
    align-self: center;
    justify-self: end;
    clip-path: circle();
    width: 60%;

    /*
    border-radius: 50%;
    width: 40%;
    height: 70%;
    object-fit: cover; */
}

nav > span:nth-child(2) {
    grid-area: b;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.7rem;
    color: var(--black1);
}

nav > span:nth-child(2) a {
    font-family: 'Inter', Helvetica, sans-serif, Arial;
    font-weight: 900;
    font-size: large;
    text-decoration: none;
    color: var(--black1);
}

nav > span:nth-child(2) a span {
    color: var(--purple2);
}

nav > img:nth-child(3) {
    grid-area: d;
    justify-self: end;
}

nav > img:nth-child(4) {
    grid-area: e;
    justify-self: center;
}

nav > img:nth-child(5) {
    grid-area: f;
    justify-self: start;
}

nav > .icons:hover {
    transition: 0.2s;
}

nav > .icons:hover {
    filter: invert(27%) sepia(88%) saturate(868%) hue-rotate(216deg)
        brightness(91%) contrast(98%);
}

/* main styling */

main > section:first-child {
    background: var(--white1);
}

main > section:last-child {
    background: var(--white1);
}

section {
    display: grid;
    grid-template-areas: 'a' 'b';
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 28vh;
    padding: 5%;
    gap: 3%;
    font-size: 0.7rem;
    font-family: 'JetBrains Mono', monospace;
}

.section-cont {
    border: 1px solid var(--black2);
    padding: 0.5rem 1.5rem;
}

.section-cont h2 {
    justify-self: center;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0;
}

/* Announcement */

section > .section-cont:first-child {
    grid-area: a;
    background-color: var(--white1);

    display: grid;
    grid-template-rows: 0.5fr repeat(3, 1fr 0.1fr) 1fr;
}

.announcement-row {
    text-decoration: none;
    color: var(--black1);

    display: grid;
    grid-template-areas: 'a' 'b';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.announcement-row > h3 {
    grid-area: a;
    font-family: 'Inter', Helvetica, sans-serif, Arial;
    color: var(--purple2);
    text-transform: capitalize;
}

.announcement-row > p {
    grid-area: b;
    text-align: justify;
    text-justify: inter-word;
}

.section-cont > hr {
    border: 0;
    border-top: 1.5px solid var(--black3);
    width: 95%;
    height: 0;
    justify-self: center;
}
/* .announcement-row:nth-child(n + 1):nth-child(-n + 4) {
    border-bottom: 1px solid var(--black1);
}
 */

section > .section-cont:last-child {
    grid-area: b;
    background-color: var(--white1);

    display: grid;
    grid-template-rows: 0.5fr repeat(3, 1fr);
}

.trending-row {
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    align-items: center;
    gap: 0.5rem;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8rem;
}

.trending-row span > a {
    font-family: 'Inter', Helvetica, sans-serif, Arial;
    color: var(--purple2);
    text-decoration: none;
}

.trending-row span > a:visited {
    color: var(--purple2);
    text-decoration: none;
}

.trending-row > img {
    width: 2rem;
    height: auto;
    clip-path: circle();
    justify-self: end;
    margin: 0;
}

/*-------------------*/
.main-section {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
}

.cards-cont {
    max-height: 60vh;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 2rem 3rem;

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.cards-cont::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.card {
    font-size: 1rem;
    border: 1px solid var(--black2);
    background-color: var(--white2);
    height: 18vw;
    width: 25vw;
    padding: 10%;

    display: grid;
    grid-template-areas: 'a' 'b' 'c' 'd';
    grid-template-rows: 1fr 3fr 1fr 1fr;
    position: relative;
}

.card:hover {
    top: -20px;
    right: -20px;

    box-shadow: -21px 22px 0px 0px var(--purple1);
    -webkit-box-shadow: -21px 22px 0px 0px var(--purple1);
    -moz-box-shadow: -21px 22px 0px 0px var(--purple1);
}

.card > h1 {
    grid-area: a;
}

.card > p {
    grid-area: b;
}

.card > .icon-cont {
    grid-area: d;
    justify-self: end;
}

.card > .icon-cont img {
    width: 1.5rem;
    margin-left: 1rem;
}

.card > .icon-cont img:hover {
    filter: invert(38%) sepia(21%) saturate(4155%) hue-rotate(220deg)
        brightness(102%) contrast(99%);
}
