/*--- CSS reset ---*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    outline: 1px red solid;
}

html {
    --black1: #242424;
    --black2: #000;
    --white1: #fbfbfb;
    --white2: #fff;
}

.icons {
    height: auto;
    width: 30px;
}

/*--- main styling ---*/
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--black1);

    display: grid;
    grid-template-areas:
        'a b'
        'a c';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
}

body > nav {
    grid-area: b;
    background-color: var(--white1);
}

body > aside {
    grid-area: a;

    display: grid;
    grid-template-areas:
        'a'
        'b'
        'c';
    grid-template-rows: 1fr 5fr 1fr;

    color: var(--white1);
}

body > main {
    grid-area: c;
    background-color: var(--white1);
}

/*--- aside styling ---*/

.menu-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu-row > img {
    justify-self: end;
}
